<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Title</title>

</head>

    <body>

        <div layout:fragment="header">

            <div th:insert="blocks/header :: header"></div>

        </div>

        <div layout:fragment="menu">

            <div th:insert="blocks/menu :: menu"></div>

        </div>

        <div layout:fragment="main-content">
            <h1 class="display-4">
                Пользователи
            </h1>
            <table class = "table table-striped table-bordered">
                <thead>
                    <tr>
                        <th> ID </th>
                        <th> Логин </th>
                        <th> Статус </th>
                        <th> Роль </th>
                        <th> Дата регистрации </th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="user: ${userList}">
                        <th th:text="${user.getId()}"></th>
                        <th th:text="${user.getUsername()}"></th>
                        <th th:text="${user.isEnabled()}"></th>
                        <th th:text="${user.getAuthorities()}"></th>
                        <th th:text="${user.getDate()}"></th>
                    </tr>
                </tbody>
            </table>
        </div>

    </body>
</html>