body {
    background: #f9f9fd;
}

.menu {
    height: 250px;
    float: left;
    z-index: 11;
}

.main {
    background: #ffffff;
    -webkit-box-shadow: -6px 5px 16px -2px rgba(34, 60, 80, 0.19);
    -moz-box-shadow: -6px 5px 16px -2px rgba(34, 60, 80, 0.19);
    box-shadow: -6px 5px 16px -2px rgba(34, 60, 80, 0.19);
}

.mynavbar {
    background: #ffffff;
}
