<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="UTF-8">

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Главная</title>

    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" media="screen,projection"/>

    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" media="screen,projection"/>

    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

</head>

    <body>


                <div layout:fragment="header" class="col-sm-12">

                </div>

         <div class="container" style="margin-top: 20px">

            <div class="row row-cols-1">

                <div layout:fragment="menu" class="menu col-md-3">

                </div>


                <div layout:fragment="main-content" class="main col-md-9">

                </div>

            </div>

        </div>


        <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

    </body>

</html>