<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Title</title>

</head>

    <body>


        <div layout:fragment="main-content">

            <form action="/login" method="post" style="margin: 20vh">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="username">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Запомнить</label>
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>
            </form>

        </div>

    </body>

</html>